.advantages {
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.advantages__heading {
  margin: 0;
  margin-bottom: 27px;
  font-family: $font-primary;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: $primary-text;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}
