.button {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

  font-family: $font-primary;
  font-size: $font-size-primary;
  line-height: $line-height-primary;
  color: $main-color;
  text-transform: uppercase;
  text-align: center;
  background-color: $green-theme;

  border: 0;
  cursor: pointer;

  &--full-width {
    width: 100%;
  }
}
