.button {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: $font-primary;
  font-size: $font-size-primary;
  line-height: $line-height-primary;
  color: $main-color;
  text-transform: uppercase;
  text-align: center;
  background-color: $green-theme;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease-in;
  }

  &--full-width {
    width: 100%;
  }

  &--gray {
    font-size: ($font-size-primary + 2);
    background-color: #f2f2f2;
    color: $secondary-text;
    letter-spacing: 0;

    &:hover {
      background-color: #ebebeb;
    }

    &:focus {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
      background-color: #ebebeb;
    }
  }
}
