.gift {
  @media (min-width: $desktop-width) {
    position: absolute;
    right: 38px;
    top: -20px;
  }
}

.gift__wrapper {
  height: 290px;
  background-image: url(../img/gift-photo-mobile@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/gift-photo-tablet@1x.jpg);
    height: 200px;
  }

  @media (min-width: $tablet-width) and (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url(../img/gift-photo-tablet@2x.jpg);
  }

  @media (min-width: $desktop-width) {
    width: 89%;
    height: 290px;
    flex-direction: column;
    background-image: url(../img/gift-photo-desktop@1x.jpg);
  }

  @media (min-width: $desktop-width) and (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url(../img/gift-photo-desktop@2x.jpg);
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url(../img/gift-photo-mobile@2x.jpg);
  }
}

.gift__icon {
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 65px;

  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
    margin-right: 27%;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 15px;
    margin-right: auto;
  }
}

.gift__description {
  display: inline-flex;
  justify-content: center;
  width: 60%;
  margin: 0;
  font-size: $font-size-secondary;
  line-height: $line-height-secondary;
  color: $main-color;

  @media (min-width: $tablet-width) {
    margin: auto;
    margin-right: 17%;
    width: 23%;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 75%;
    text-align: center;
    margin-right: auto;
  }
}
