.main-nav {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 43px;
    padding-bottom: 45px;
  }
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 16px;
}

.main-nav__logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  min-width: 191px;
}

.main-nav__logo-icon {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__logo-picture {
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 2px;
    width: 173px;
    height: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.main-nav__toggle {
  margin-top: 5px;
  padding: 10px;
  width: 24px;
  height: 18px;

  background-color: transparent;
  background-image: url(../img/icons/burger-button.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
