.mode {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.mode__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 34px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
    padding-top: 78px;
    padding-left: 53px;
    padding-right: 62px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
    padding-top: 35px;
  }
}

.mode__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    align-items: flex-start;
  }
}

.mode__heading {
  margin: 0;
  order: 1;
  font-family: $font-primary;
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $primary-text;

  @media (min-width: $tablet-width) {
    order: 0;
    font-size: 36px;
    line-height: 37.02px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    margin-left: 60px;
    margin-top: 10px;
  }
}

.mode__illustration {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 2px;
  width: 50px;
  height: 50px;
  background-color: $green-theme;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
    margin-left: auto;
    margin-right: 0;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    margin-left: 0;
  }

}

.mode__picture {
  position: absolute;

  &--slim {
    width: 35px;
    height: 49px;
    left: 10px;
    bottom: 3px;

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 194px;
      left: calc(100% - 170px);
      bottom: 19px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      left: 12px;
      bottom: 10px;
    }
  }

  &--pro {
    width: 67px;
    height: 28px;
    left: -7px;
    bottom: 10px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      left: calc(100% - 235px);
      bottom: 45px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      left: -18px;
      bottom: 23px;
    }
  }
}

.mode__description {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    margin-top: -176px;
    padding-bottom: 47px;
    font-size: $font-size-secondary;
    line-height: ($line-height-secondary + 4);
    max-width: 375px;
    border-bottom: none;

    &--short {
      max-width: 340px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    max-width: 455px;
    padding-top: 38px;
    padding-bottom: 22px;
  }
}

.mode__link {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-bottom: 62px;
  }
}

.mode__link-text {
  position: relative;
  margin: 0;
  padding-right: 10px;

  font-family: $font-primary;
  font-size: $font-size-secondary;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: $primary-text;

  @media (min-width: $tablet-width) {
    padding-right: 23px;
    font-size: ($font-size-secondary + 4);
    line-height: $line-height-secondary;
  }
}

