.page-main__heading {
  margin: 0;
  padding-left: $mobile-indents;
  padding-top: 18px;
  padding-bottom: 25px;
  max-width: 95%;
  color: $primary-text;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding-left: $tablet-indents;
    padding-top: 36px;
    padding-bottom: 0;
    margin-bottom: 161px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-top: 20px;
  }

  &--form {
    @media (min-width: $tablet-width) {
      margin-bottom: 55px;
    }
  }
}

.page-main__description {
  margin: 0;
  margin-bottom: 35px;
  min-width: 0;
  width: 90%;
  font-family: $font-primary;
  font-size: $font-size-primary;
  line-height: $line-height-primary;
  color: $primary-text;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 60%;
    margin-bottom: 65px;
    padding-left: 70px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 35%;
    padding-left: 110px;
  }
}

.page-main__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    margin-top: 70px;
  }
}
