.page-main__heading {
  margin: 0;
  padding-left: $mobile-indents;
  padding-top: 18px;
  padding-bottom: 26px;
  max-width: 95%;
  color: $primary-text;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding-left: $tablet-indents;
    padding-top: 36px;
    padding-bottom: 0;
    margin-bottom: 161px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-top: 20px;
  }
}

.page-main__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    margin-top: 70px;
  }
}
