.page-main__heading {
  margin: 0;
  padding-left: $mobile-indents;
  padding-top: 18px;
  padding-bottom: 26px;
  color: $primary-text;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}
