// Global box-model
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Base style pages
body {
  margin: 0;
  padding: 0;
  min-width: $mobile-width;

  font-family: $font-family;
  font-size: $font-size-primary;
  line-height: $line-height-primary;
  font-style: normal;
  font-weight: 400;
  color: $secondary-text;
  background-color: $main-color;
}

// Reset links
a {
  text-decoration: none;
  color: inherit;
}

// Full image-size
img {
  display: block;
  max-width: 100%;
  height: auto;
}
