// Colors
$main-color: #ffffff;
$primary-text: #111111;
$secondary-text: #444444;

$icons-bg: #666666;
$green-theme: #68b738;
$border-color: #cdcdcd;

// Fonts

$font-primary: "Oswald", "Arial", sans-serif;
$font-family: "Arial", sans-serif;

$font-size-primary: 14px;
$font-size-secondary: 16px;

$line-height-primary: 18px;
$line-height-secondary: 20px;

//Device width

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

// Indents

$mobile-indents: 20px;
$tables-indents: 30px;
$desktop-indents: 40px;

// Other

$border-radius: 3px;
